<a href="https://colab.research.google.com/github/AlphaKaba24/systemic_crisis_prediction/blob/main/systemic_crisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Alpha Kaba
##Project 2 - Part 1 (Core) 
###6/10/22

>
First choice: **Africa Economic, Banking and Systemic Crisis Data**

1) Source of data: **https://www.kaggle.com/datasets/chirin/africa-economic-banking-and-systemic-crisis-data**

2) Brief description of data: **A compilation of African economic crises from the mid 1800s until 2014**

3) What is the target? **systemic_crisis(already encoded)**

4) Is this a classification or regression problem? **Classification**

5) How many features? **13**

6) How many rows of data. **1059**

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? **N/A**

In [1]:
import pandas as pd

In [2]:
africa_df = pd.read_csv('/content/african_crises.csv')
africa_df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [4]:
print(africa_df.shape[0])

1059

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Second choice: Twitch watch time details

1) Source of data: **https://www.kaggle.com/datasets/rajgupta2019/first-practise**

2) Brief description of data: **Overall watch time of top streamers on the platform**

3) What is the target? Watch time

4) Is this a classification or regression problem? Regression

5) How many features? 11

6) How many rows of data. 1000

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset? N/A

In [6]:
twitch_df = pd.read_csv('/content/Twitch_user_data.csv')
twitch_df.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

In [7]:
print(twitch_df.shape[0])

1000